<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/style.css" rel="stylesheet">
        <link href="/static/favicon.ico" rel="icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <title>
            LIST
        </title>
        <h1>Contacts</h1>
    </head>
    <body>
        <table class="table table-striped">
            {% for row in contact %}
                <tr>
                    {% for column in row %}
                        <td>{{ column }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div class="section">
        <form action="/">
            <center><button class="btn btn-outline-primary" type="submit">HOME</button></center>
        </form></div>
    </body>
</html>